/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.color-red{
    color: red;
}



.barred{
    text-decoration: line-through;
}
/* -----------------HEADER RULE----------------- */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.my-row-header{
    background-color: #FF6801;
}


.header-container{
    padding: 10px;
    max-height: 50px;
}
.header-container > div{
    width: calc(100% / 3);
}
header ul li{
    display: inline-block;
    text-decoration: none;
}
.gender-container{
    align-items: center;
}

.logo{
    width: 30%;
    display: inline-block;
}

.logo-container{
    justify-content: center;
}
header ul li a{
    text-decoration: none;
    color: white;
}

.icon-container{
    justify-content: end;
    align-items: center;
}

.icon-container >i{
    padding-right: 8px;
}



/* -----------------MAIN RULE----------------- */
.img-sale-container{
    position: relative;
}

.product-container{
    width: calc((100% / 3) - 20px);
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-container img{
    width: 100%;
}
.tag-container{
    position: absolute;
    top: 500px;
}

.tag{
    font-size: 12px;
    margin-right: 4px;
    color: white;
    background-color: red;
    padding: 3px;
}
.background-color-green{
    background-color: green;
}

.main-container{
    margin-bottom: 40px;
}
.like{
    display: inline-block;
    background-color: white;
    padding: 8px;
    position: absolute;
    top: 20px;
    right: 0px;
}

.like:hover{
    color: red;
}

.img-hover{
    position: absolute;
    left: 0px;
    top: 0;
    display: none;
}
.img-product{
    position: relative;
}

.img-product:hover .img-hover{
    display: inline-block;
}



/* -----------------FOOTER RULE----------------- */
footer{
    background-color: black;
    color: white;
    min-height: 50px;
    font-size: 14px;
}

.footer-container{
    padding-top: 6px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.social{
    padding-top: 5px;
}


/* -----------------DEBUG----------------- */
.debug *{
}

/*
.debug header {
    background-color: beige;
}
*/

/*
.debug main {
    background-color: beige;
    border: 1px dashed red;
}
*/

/*
.debug footer {
    border: 1px dashed red;
}
*/