/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

/* -----------------HEADER RULE----------------- */
.my-row-header{
    background-color: #FF6801;
}

.header-container{
    padding: 10px;
    max-height: 50px;
}
.header-container > div{
    width: calc(100% / 3);
}
header ul li{
    display: inline-block;
    text-decoration: none;
}
.gender-container{
    align-items: center;
}

.logo{
    width: 30%;
    display: inline-block;
}

.logo-container{
    justify-content: center;
}
header ul li a{
    text-decoration: none;
    color: white;
}

.icon-container{
    justify-content: end;
    align-items: center;
}

.icon-container >i{
    padding-right: 8px;
}

/* -----------------MAIN RULE----------------- */

/* -----------------FOOTER RULE----------------- */



/* -----------------DEBUG----------------- */
.debug *{
}

/*
.debug header {
    background-color: beige;
}
*/

.debug main {
    background-color: beige;
    border: 1px dashed red;
}

.debug footer {
    background-color: beige;
    border: 1px dashed red;
}